:root {
  --black: rgb(29, 29, 29);
  --white: rgb(199, 199, 199);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
}

.landing {
  min-height: 100vh;
  width: 100%;
  background: url("./pexels-joyston-judah-933054.jpg");
  background-size: cover;
  padding: 0rem 5rem;
  color: var(--black);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 10rem;
  font-size: 1rem;
}

#logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
}
.intro {
  background-color: var(--black);
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.slider {
  background-color: var(--white);
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  transform: translateY(100%);
}

.hide {
  background-color: var(--black);
  overflow: hidden;
}

.text {
  transform: translateY(100%);
  display: inline-block;
}
